* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
  }
  
  /* Global */
  body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar_brand {
    width: 100px;
  }
  
  .navbar_logo {
    width: 100%;
  }
  
  
  .button_primary {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  .hero_container {
    width: 100%;
  }
  .hero_image_container {
    width: 100%;
  }
  
  .hero_image {
    width: 100%;
  }
  
  .hero_text {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
  }


  .explore_menu_container {
      margin-top: 50px;
  }

  .explore_menu_text {
    font-size: 30px;
    color: #1d3557;
    text-align: center;
    margin: 20px 0;
  }
  
  .food_menu_card {
      width: 100%;
      background-color: #fff;
      border-radius: 20px;
      margin-bottom: 10px;
  }

  .food_image {
      width:100%;
      border-radius: 8px 8px 0 0;
  }

  .food_menu_card_description {
      padding: 20px
  }

  .explore_menu_view_more {
      display:flex;
      justify-content: center;
  }

  

  .restaurants_description {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
  }
  .restaurants_flex_row_one,
  .restaurants_flex_row_two {
    width: 100%;
    display: flex;
    gap: 4px;
  }
  .restaurants_flex_row_one {
    align-items: baseline;
    margin-bottom: 4px;
  }
  
  .restaurant_1_image,
  .restaurant_2_image,
  .restaurant_3_image,
  .restaurant_4_image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  
  .restaurant_1,
  .restaurant_4 {
    width: 100%;
    height: 150px;
  }
  
  .restaurant_2,
  .restaurant_3 {
    width: 120%;
    height: 200px;
  }
   
  .email_subcribe_container {
    margin-top: 50px;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .text_xl {
    font-size: 24px;
    line-height: 32px;
    color: #1d3557;
    font-weight: 900;
  }
  .email_subcribe_input_field {
    display: flex;
    align-items: center;
  }
  .email_input {
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 24px;
    border-radius: 4px;
  }
  
  .email_input::placeholder {
    color: #bdbcbc;
  }
  .button_primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .quote_container {
    position: relative;
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
      center center / cover no-repeat;
  }
  .quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 16px;
    text-align: center;
  }
  ul {

    list-style-type: none;
    margin-bottom:80px;
    padding: 0;
    color: #fff;

  }
  footer {
  
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }
 
  @media (min-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 10px 20px;
    }
    .navbar_brand {
      width: 150px;
    }
    .button_primary {
      padding: 10px 20px;
      font-size: 20px;
    }
    .hero_container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    .explore_menu_container {
        position: relative;
      }
    .explore_menu_gradient_bg {
        background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    transform: skewY(-5deg)
    }

    .explore_menu_lists{
    display:flex;
    gap:10px;
    margin-top: 50px;
    }

    #pizza_card {
    margin-top: -25px;
    margin-bottom: 35px;
    }
    .restaurants_description {
      font-size: 40px;
      width: 100%;
    }

    .restaurants_container {
      display: flex;
      align-items: center;
    }

    .restaurants_flex {
      width: 100%;
    }
 
 
  @media (min-width: 1020px) {
    .container {
      max-width: 900px;
    }

    .hero_text {
      font-size: 50px;
    }

    .explore_menu_text {
      font-size: 50px;
    }

    .explore_menu_lists {
      gap: 20px;
      padding: 0 20px;
    }

    .restaurants_container{
      margin-top: 30px;
    }

    media (min-width: 1400px) {
      .container {
        max-width: 1250px;
      }
    }